<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}MovieLens 1M Database Viewer{% endblock %}</title>
</head>

<body>
  <div id="navigation">
    {% if user.is_authenticated %}
      <p>{{ user.username }} | <a href="{% url 'user_logout' %}">Logout</a></p>
    {% else %}
      <p><a href="{% url 'user_login' %}">Login</a></p>
    {% endif %}
  </div>

  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
<footer>
  <p>&copy;2015 Adam Hartz</p>
</footer>
</html>
