<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html lang="en">

<head>
  <title>{% block title %}MovieLens 1M Database Viewer{% endblock %}</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=True %}
  <link rel="stylesheet" type="text/css" href="{% static 'lensview/style.css' %}" />
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="{% url 'top_20' %}">Home</a></li>

          {% if user.is_authenticated %}
          <li role="presentation">
            <a href="{% url 'user_detail' user.rater.pk %}">{{ user.username }}</a>
          </li>
          <li role="presentation">
            <a href="{% url 'user_logout' %}">Logout</a>
          </li>
          {% else %}
          <li role="presentation">
            <a href="{% url 'user_login' %}">Login</a>
          </li>
          <li role="presentation">
            <a href="{% url 'user_register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <h3 class="text-muted">MovieLens 1M Database Viewer</h3>
    </div>
    {% bootstrap_messages %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
<footer>
  <div class="container">
    <br>
    <p>&copy;2015 Adam Hartz</p>
  </div>
</footer>
</html>
