<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}MovieLens 1M Database Viewer{% endblock %}</title>
</head>

<body>
  <div id="navigation" style="float: right;">
    <p><a href="{% url 'top_20' %}">Home</a> |
    {% if user.is_authenticated %}
      <a href="{% url 'user_detail' user.rater.pk %}">{{ user.username }}</a> |
        <a href="{% url 'user_logout' %}">Logout</a></p>
    {% else %}
      <a href="{% url 'user_login' %}">Login</a></p>
    {% endif %}
  </div>

  <div id="content">
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}
            >{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
    {% block content %}{% endblock %}
  </div>
</body>
<footer>
  <p>&copy;2015 Adam Hartz</p>
</footer>
</html>
