{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 item-highlight top">
    <h1>{{ movie.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 item-highlight">
    Average Rating: {{ movie.average_rating|floatformat:1 }}&#9733;
  </div>
</div>

{% if user_stars %}
<div class="row">
  <div class="col-md-8 item-highlight">
    <p><small>(Your Rating:
      {{ user_stars }}&#9733;)
    <br></small></p>
  </div>
</div>
<br>
{% elif user.is_authenticated %}
<div class="row">
  <div class="col-md-8 item-highlight">
  <small>Rate this film
    <form method="POST" action="{% url 'movie_detail' movie.pk  %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit Rating" class="btn btn-default">
    </form>
    <br>
  </small>
  </div>
</div>
{% endif %}
<br>
<h3>User Ratings</h3>
<table class="table table-striped">
  <tr>
    <th>Rater</th>
    <th>Rating</th>
    <th>Rating Date</th>
    <th>Review</th>
  </tr>
  {% for rating in ratings %}
    <tr>
      <td><b><a href="{% url 'rater_detail' rating.rater.pk %}">{{ rating.rater.user.username }}</a></b></td>
      <td><b>{{ rating.stars }}</b>&#9733;</td>
      <td>{{ rating.timestamp|date:"d M Y" }}<td>
        {% if rating.review %}
        <td>{{ rating.review }}</td>
        {% endif %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
