{% extends "base.html" %}
{% block content %}
  <h2>Rater #{{ rater.id }}: {{ rater.user.username }}</h2>
    <dl class='rater_info'>
      <dt>Age</dt>
      <dd>{{ rater.age }}</dd>
      <dt>Gender</dt>
      <dd>{{ rater.gender }}</dd>
      <dt>Occupation</dt>
      <dd>{{ rater.occupation }}</dd>
      <dt>Zipcode</dt>
      <dd>{{ rater.zipcode }}</dd>
    </dl>
    <ul>
  {% for rating in movie_ratings %}
  <li>
      <a href="{% url 'movie_detail' rating.movie.pk %}">{{ rating.movie }}</a>
      – {{ rating.stars }}&#9733;
    </li>
  {% endfor %}
</ul>
{% endblock %}
