{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Top 20 Movies by {{ view.top_type }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8 item-highlight top">
  <h1>Top 20 Movies by {{ view.top_type }}</h1>
</div>
</div>
<br>
</p>
<table class="table table-striped">
  <tr>
    <th/>
    <th>Movie</th>
    <th>Rating</th>
    <th>Number of Ratings</th>
  </tr>
  {% for movie in movies %}
    <tr>
      <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
      <td><b><a href="{% url 'movie_detail' movie.pk %}">{{ movie.title }}</a></b></td>
      <td><b>{{ movie.avg_rating|floatformat:1 }}<b>&#9733;</td>
      <td>{{ movie.num_raters }}</td></tr>
  {% endfor %}
</table>
<div class="text-center">
  {% bootstrap_pagination page_obj pages_to_show=5%}
</div>
{% endblock %}
