{% extends "base.html" %}

{% block title %}Top 20 Movies by {{ top_type }}{% endblock %}

{% block content %}
<h1>Top 20 Movies by {{ top_type }}</h1>
<p>
<br>
</p>
<table class="table">
  <tr>
    <th>Movie</th>
    <th>Rating</th>
    <th>Number of Ratings</th>
  </tr>
  {% for movie in top_movies %}
    <tr>
      <td><a href="{% url 'movie_detail' movie.pk %}">{{ movie.title }}</a></td>
      <td>{{ movie.avg_rating|floatformat:1 }}&#9733;</td>
      <td>{{ movie.num_raters }}</td></tr>
  {% endfor %}
</table>
{% endblock %}
