{% extends "base.html" %}

{% block title %}Top 20 Movies by {{ top_type }}{% endblock %}

{% block content %}
<h1>Top 20 Movies by {{ top_type }}</h1>
{% if top_type == 'num_raters' %}
  <p><a href="{% url 'top_20' %}">Top 20 by Rating</a></p>
{% else %}
  <p><a href="{% url 'top_20_by_num_ratings' %}">
    Top 20 by Number of Ratings
  </a></p>
{% endif %}

<ul>
  {% for movie in top_movies %}
    <li><a href="{% url 'movie_detail' movie.pk %}">{{ movie.title }}</a>
      {{ movie.avg_rating|floatformat:1 }}&#9733;
      ({{ movie.num_raters }} rater{{ movie.num_raters|pluralize }})</li>
  {% endfor %}
</ul>
{% endblock %}
