{% extends "base.html" %}

{% block title %}{{ rater.user.username }}{% endblock %}

{% block content %}
<h1>{{ rater.user.username }}</h1>
  <dl>
    <dt>Gender</dt>
    <dd>{{ rater.gender }}</dd>
    <dt>Age</dt>
    <dd>{{ rater.age }}</dd>
    <dt>Occupation</dt>
    <dd>{{ rater.occupation }}</dd>
    <dt>Zipcode</dt>
    <dd>{{ rater.zipcode }}</dd>
  </dl>

<ul>
  {% for rating in ratings %}
    <li><a href="{% url 'movie_detail' rating.movie.pk %}"
      >{{ rating.movie.title }}</a>
      {% if rater == user.rater and user.is_authenticated %}
        <a href="{% url 'edit_rating' rater.pk rating.movie.pk %}">
          {{ rating.stars }}&#9733;
        </a>
      {% else %}
        {{ rating.stars }}&#9733;
      {% endif %}
      <small>({{ rating.timestamp }})</small>
      {% if rating.review %}
      <span class="review">{{ rating.review }}</span>
      {% endif %}</li>
  {% endfor %}
</ul>
{% endblock %}
